@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/*components*/
@import "COMPONENTS/startus-bar.css";
@import "COMPONENTS/nav-bar.css";
@import "COMPONENTS/screen-header.css";
@import "COMPONENTS/user-component.css";
@import "COMPONENTS/badge.css";
@import "COMPONENTS/icon-row.css";
@import "COMPONENTS/alternative-screen-header.css";
/*screens*/
@import "SCREENS/login.css";
@import "SCREENS/friend.css";
@import "SCREENS/find.css";
@import "SCREENS/more.css";
@import "SCREENS/chatting-screen.css";

body {
  font-family: "Roboto", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
