.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 5px;
  padding-top: 35px;
}

.alt-header__column {
  width: 33%;
  font-size: 20px;
  font-weight: 500;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: end;
}

.settings-list :last-child {
  border: none;
}

.settings-setting {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 20px 10px;
}

.settings-setting i {
  padding-right: 10px;
}

.settings-setting__subtittle {
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.alt-header__column-btn {
  background-color: transparent;
  border: none;
}
