.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 10px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 13px;
  bottom: 10px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__notice {
  background-color: tomato;
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 17px;
  left: 17.5px;
}

.nav__btn {
  animation: apperBtnAnimation 1s ease-in-out;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

@keyframes apperBtnAnimation {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
